extends layout 

block content 

    h1=title 

    form(method='POST')
        div.form-group
            label(for="name") Name:
            input#name.form-control(type="text" placeholder='Name of new category' name='name' required value=(undefined===category ? '' : category.name))
        div.form-group
            label(for="description") Description:
            input#description.form-control(type='text' placeholder='Some details about the new category...' name='description' required value=(undefined===category ? '' : category.description))
        if category 
            div.form-group
                label(for='pass') Admin Password: 
                input#pass.form-control(type='password' minLength=1 name='pass')
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg 
